@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row" style="padding-top:200px;">
        <div class="col-md-2 col-sm-12 fadeshow1 ">
            <div class="wrapper">
                <!-- Sidebar-->
                <nav id="sidebar">
                    <div class="sidebar-header">
                        <h2>toletBD</h2>
                    </div>

                    <ul class="list-unstyled components">
                        <p>toletBD</p>
                        <li class="">
                            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                            <ul class="collapse list-unstyled" id="homeSubmenu">
                                <li>
                                    <a href="#">Home 1</a>
                                </li>
                                <li>
                                    <a href="#">Home 2</a>
                                </li>
                                <li>
                                    <a href="#">Home 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                            <ul class="collapse list-unstyled" id="pageSubmenu">
                                <li>
                                    <a href="#">Page 1</a>
                                </li>
                                <li>
                                    <a href="#">Page 2</a>
                                </li>
                                <li>
                                    <a href="#">Page 3</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Portfolio</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                </nav>

            </div>
        </div>



        <div class="col-md-10 col-sm-12 clearfix">


            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 " >
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column_inner">
                                <div class="">
                                    <div class="ere_propertywrap">

                                        <div class="ere-property property-grid  col-gap-10">
                                            <div class=" columns-2 columns-md-3 columns-sm-2 columns-xs-1 columns-mb-1 ">
                                                <div class="property-item mg-bottom-10 ere-item-wrap">
                                                    <div class="property-inner">
                                                        <div class="">
                                                            <img src="" width="330" height="180" />
                                                        </div>
                                                        <div class="property-item-content">
                                                            <div class="property-heading">
                                                                <h4 class="property-title">
                                                                    <a href="https://www.toletdigital.com/property/white-pearl-apartments-furnished-short-stay-apartments-nairobi-kenya/" title="White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya">
                                                                        White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya
                                                                    </a>

                                                                </h4>
                                                                <div class="property-price">

                                                                    <span>Price on call</span>

                                                                </div>
                                                            </div>
                                                            <div class="propert-type">

                                                                <i class="fa fa-tag accent-color"></i>
                                                                <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>

                                                            </div>
                                                            <div class="property-loc">

                                                                <i class="fa fa-map-marker accent-color"></i>
                                                                <a target="_blank" href="http://maps.google.com/?q=St.%20Michael's%20Rd,%20Off%20Rapta%20Rd,%20Nairobi,%20Kenya,%20Kenya"><span>St. Michael's Rd, Off Rapta Rd, Nairobi, Kenya, Kenya</span></a>

                                                            </div>
                                                            <div class="property-element-inline">
                                                                <div class="property-agent">

                                                                    <a href="https://www.toletdigital.com/agent/whitepearl-apartments/" title="WhitePearl Apartments">
                                                                        <i class="fa fa-user accent-color"></i>
                                                                        <span>WhitePearl Apartments</span>
                                                                    </a>
                                                                </div>
                                                                <div class="property-date">
                                                                    <i class="fa fa-calendar accent-color"></i>
                                                                    18 hours ago
                                                                </div>
                                                            </div>
                                                            <div class="property-info">
                                                                <div class="property-info-inner">

                                                                    <span class="fa fa-home"></span>
                                                                    <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column_inner">
                                <div class="">
                                    <div class="ere_propertywrap">

                                        <div class="ere-property property-grid  col-gap-10">
                                            <div class=" columns-2 columns-md-3 columns-sm-2 columns-xs-1 columns-mb-1 ">
                                                <div class="property-item mg-bottom-10 ere-item-wrap">
                                                    <div class="property-inner">
                                                        <div class="">
                                                            <img src="" width="330" height="180" />
                                                        </div>
                                                        <div class="property-item-content">
                                                            <div class="property-heading">
                                                                <h4 class="property-title">
                                                                    <a href="https://www.toletdigital.com/property/white-pearl-apartments-furnished-short-stay-apartments-nairobi-kenya/" title="White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya">
                                                                        White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya
                                                                    </a>

                                                                </h4>
                                                                <div class="property-price">

                                                                    <span>Price on call</span>

                                                                </div>
                                                            </div>
                                                            <div class="propert-type">

                                                                <i class="fa fa-tag accent-color"></i>
                                                                <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>

                                                            </div>
                                                            <div class="property-loc">

                                                                <i class="fa fa-map-marker accent-color"></i>
                                                                <a target="_blank" href="http://maps.google.com/?q=St.%20Michael's%20Rd,%20Off%20Rapta%20Rd,%20Nairobi,%20Kenya,%20Kenya"><span>St. Michael's Rd, Off Rapta Rd, Nairobi, Kenya, Kenya</span></a>

                                                            </div>
                                                            <div class="property-element-inline">
                                                                <div class="property-agent">

                                                                    <a href="https://www.toletdigital.com/agent/whitepearl-apartments/" title="WhitePearl Apartments">
                                                                        <i class="fa fa-user accent-color"></i>
                                                                        <span>WhitePearl Apartments</span>
                                                                    </a>
                                                                </div>
                                                                <div class="property-date">
                                                                    <i class="fa fa-calendar accent-color"></i>
                                                                    18 hours ago
                                                                </div>
                                                            </div>
                                                            <div class="property-info">
                                                                <div class="property-info-inner">

                                                                    <span class="fa fa-home"></span>
                                                                    <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="wpb_column vc_column_container vc_col-sm-8">
                            <div class="vc_column_inner">
                                <div class="">
                                    <div class="ere_propertywrap">

                                        <div class="ere-property property-grid  col-gap-10">
                                            <div class=" columns-2 columns-md-3 columns-sm-2 columns-xs-1 columns-mb-1 ">
                                                <div class="property-item mg-bottom-10 ere-item-wrap">
                                                    <div class="property-inner">
                                                        <div class="">
                                                            <img src="" width="330" height="180" />
                                                        </div>
                                                        <div class="property-item-content">
                                                            <div class="property-heading">
                                                                <h4 class="property-title">
                                                                    <a href="https://www.toletdigital.com/property/white-pearl-apartments-furnished-short-stay-apartments-nairobi-kenya/" title="White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya">
                                                                        White Pearl Apartments Furnished Short Stay Apartments Nairobi  Kenya
                                                                    </a>

                                                                </h4>
                                                                <div class="property-price">

                                                                    <span>Price on call</span>

                                                                </div>
                                                            </div>
                                                            <div class="propert-type">

                                                                <i class="fa fa-tag accent-color"></i>
                                                                <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>

                                                            </div>
                                                            <div class="property-loc">

                                                                <i class="fa fa-map-marker accent-color"></i>
                                                                <a target="_blank" href="http://maps.google.com/?q=St.%20Michael's%20Rd,%20Off%20Rapta%20Rd,%20Nairobi,%20Kenya,%20Kenya"><span>St. Michael's Rd, Off Rapta Rd, Nairobi, Kenya, Kenya</span></a>

                                                            </div>
                                                            <div class="property-element-inline">
                                                                <div class="property-agent">

                                                                    <a href="https://www.toletdigital.com/agent/whitepearl-apartments/" title="WhitePearl Apartments">
                                                                        <i class="fa fa-user accent-color"></i>
                                                                        <span>WhitePearl Apartments</span>
                                                                    </a>
                                                                </div>
                                                                <div class="property-date">
                                                                    <i class="fa fa-calendar accent-color"></i>
                                                                    18 hours ago
                                                                </div>
                                                            </div>
                                                            <div class="property-info">
                                                                <div class="property-info-inner">

                                                                    <span class="fa fa-home"></span>
                                                                    <a href="https://www.toletdigital.com/" title="Serviced Apartments"><span>Serviced Apartments </span></a>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>




                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>